{% extends "base.html" %}
{% block content%}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Profile Pic</th>
      </tr>
    </thead>
    
    <tbody>
      {% for r in record%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{r.first_name}} {{r.last_name}}</td>
        <td>{{r.email}}</td>
        <td>{{r.address}}</td>
       <td><img src="{{r.profile_imagee.url}}" alt="image_lost" width=200></td>
       <td><a href="{% url 'delete_record' r.id%}" class="btn btn-danger">Delete</a></td>
        <td><a href="{% url 'update_record' r.id%}" class="btn btn-secondary">Update</a></td>
      </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}